
# Dependencias
node_modules/

# Archivos generados automáticamente
pdf/
videos/
reports/

# Salidas temporales de tests
*.log
*.tmp
*.cache
*.pid

# Archivos de VSCode o editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Playwright
test-results/
playwright-report/
trace.zip

# Entornos y configuración local
.env
.env.local
.env.test
.env.*.local
*.txt


# Sistema
.DS_Store
Thumbs.db


